table {
    width: 100%;
    border-collapse: collapse;
    
}
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
button {
    background-color: black; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 15px; /* Espacement interne */
    border: none; /* Pas de contour */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur en forme de main */
    transition: background-color 0.3s; /* Transition pour l'effet hover */
}
button:hover {
    background-color: #D7C378; /* Couleur de fond au survol */
}
form{
    border: none
}

.success {
    color: green;
}

.error {
    color: red;
}